<app-header></app-header>
<!-- partial -->
<div class="container-fluid page-body-wrapper">
    <app-sidebar></app-sidebar>

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">

                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Manage Supplier</h4>
                            <p class="card-description">{{supplierTypeModel.isEdit?'Edit':'Insert'}} Supplier Type</p>
                            <form class="forms-sample" #AdminForm="ngForm" (ngSubmit)="onSubmit(AdminForm)">
                                <div class="form-group">
                                    <label for="exampleInputName1">Type Name</label>
                                    <input type="text" class="form-control" id="exampleInputName1"
                                        placeholder="Type Name" name="supplier_type" #supplier_type="ngModel"
                                        [(ngModel)]="supplierTypeModel.supplier_type" required minlength="3"  
                                        [disabled]="supplierTypeModel.isEdit">
                                       
                                    <div class="text-danger"
                                        *ngIf="supplier_type.invalid && (supplier_type.touched || supplier_type.dirty)">
                                        <span *ngIf="supplier_type.errors?.['required']">Required Property</span>
                                        <span *ngIf="supplier_type.errors?.['minlength']">Minimum 3 characters</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail3">Type Description</label>
                                    <!-- <textarea id="w3review" class="form-control" name="w3review" rows="15" placeholder="Enter Description">
                    </textarea> -->
                                    <input type="text" class="form-control" id="typedesc"
                                        placeholder="Enter Description" name="description" #description="ngModel"
                                        [(ngModel)]="supplierTypeModel.description" required>
                                    <div class="text-danger"
                                        *ngIf="description.invalid && (description.touched || description.dirty)">
                                        <span *ngIf="description.errors?.['required']">Required Property</span>
                                        <span *ngIf="description.errors?.['minlength']">Minimum 20 characters</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPhone">Yearly Turnover</label>
                                    <input type="text" class="form-control" id="yearlyturnover"
                                        placeholder="Yearly Turnover" name="yearly_turnover" #yearly_turnover="ngModel"
                                        [(ngModel)]="supplierTypeModel.yearly_turnover" required>
                                    <div class="text-danger"
                                        *ngIf="yearly_turnover.invalid && (yearly_turnover.touched || yearly_turnover.dirty)">
                                        <span *ngIf="yearly_turnover.errors?.['required']">Required Property</span>
                                        <!-- <span *ngIf="yearly_turnover.errors?.['minlength']">Minimum 3 characters</span> -->
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary me-2">{{supplierTypeModel.isEdit?'Update':'Register'}}</button>
                                <a class="btn btn-light" routerLink="/supplierType" routerLinkActive="active"
                                    ariaCurrentWhenActive="page">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- content-wrapper ends -->
        <app-footer></app-footer>
    </div>
    <!-- main-panel ends -->
</div>
