<app-header></app-header>
<!-- partial -->
<div class="container-fluid page-body-wrapper">
    <app-sidebar></app-sidebar>

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
               
                <!-- To DO -->
               
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Manage Customer Info</h4>
                            <p class="card-type_desc">{{custInfoModel.isEdit?'Edit':'Insert'}} Customer Info</p>
                            <form class="forms-sample" #AdminForm="ngForm" (ngSubmit)="onSubmit(AdminForm)">
                                <div class="form-group">
                                    <label for="exampleInputName1">Customer Type Code</label>
                                    <input type="text" class="form-control" id="exampleInputName1"
                                        placeholder="Enter Customer Type" name="type_desc" #type_desc="ngModel"
                                        [(ngModel)]="custInfoModel.type_desc" required minlength="3"  
                                        [disabled]="custInfoModel.isEdit">
                                       
                                    <div class="text-danger"
                                        *ngIf="type_desc.invalid && (type_desc.touched || type_desc.dirty)">
                                        <span *ngIf="type_desc.errors?.['required']">Required Property</span>
                                        <span *ngIf="type_desc.errors?.['minlength']">Minimum 3 characters</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPhone">Customer Name</label>
                                    <input type="text" class="form-control" id="foodcategory"
                                        placeholder="Enter Order Limit" name="order_limit" #order_limit="ngModel"
                                        [(ngModel)]="custInfoModel.order_limit" required
                                        [disabled]="custInfoModel.isEdit">
                                    <div class="text-danger"
                                        *ngIf="order_limit.invalid && (order_limit.touched || order_limit.dirty)">
                                        <span *ngIf="order_limit.errors?.['required']">Required Property</span>
                                        </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail3">Email</label>
                                    <input type="text" class="form-control" id="typedesc"
                                        placeholder="Enter Total Turnover" name="total_turnover" #total_turnover="ngModel"
                                        [(ngModel)]="custInfoModel.total_turnover" required>
                                    <div class="text-danger"
                                        *ngIf="total_turnover.invalid && (total_turnover.touched || total_turnover.dirty)">
                                        <span *ngIf="total_turnover.errors?.['required']">Required Property</span>
                                        <span *ngIf="total_turnover.errors?.['minlength']">Minimum 20 characters</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail3">Phone Number</label>
                                    <input type="text" class="form-control" id="typedesc"
                                        placeholder="Enter Total Turnover" name="total_turnover" #total_turnover="ngModel"
                                        [(ngModel)]="custInfoModel.total_turnover" required>
                                    <div class="text-danger"
                                        *ngIf="total_turnover.invalid && (total_turnover.touched || total_turnover.dirty)">
                                        <span *ngIf="total_turnover.errors?.['required']">Required Property</span>
                                        <span *ngIf="total_turnover.errors?.['minlength']">Minimum 20 characters</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail3">Pin</label>
                                    <input type="text" class="form-control" id="typedesc"
                                        placeholder="Enter Total Turnover" name="total_turnover" #total_turnover="ngModel"
                                        [(ngModel)]="custInfoModel.total_turnover" required>
                                    <div class="text-danger"
                                        *ngIf="total_turnover.invalid && (total_turnover.touched || total_turnover.dirty)">
                                        <span *ngIf="total_turnover.errors?.['required']">Required Property</span>
                                        <span *ngIf="total_turnover.errors?.['minlength']">Minimum 20 characters</span>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary me-2">{{custInfoModel.isEdit?'Update':'Register'}}</button>
                                <a class="btn btn-light" routerLink="/custTypeList" routerLinkActive="active"
                                    ariaCurrentWhenActive="page">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- content-wrapper ends -->
        <app-footer></app-footer>
    </div>
    <!-- main-panel ends -->
</div>
